---
layout: document
---

    <!-- Styles -->
    <link href="/assets/css/fontawesome.css" rel="stylesheet" />
    <link href="/assets/css/projekte/styles.css" rel="stylesheet" />
    <link href="/assets/css/components/embeddedVideos.css" rel="stylesheet" />
  </head>

  <body>
    {% include components/nav , active: 1 %} {% assign subtitle= category |
    append: ", " | append: year %} {% include components/masthead, title,
    subtitle, url: header %}

    <main>
      {% if nopage %}
      <section class="page-section" id="details">
        <div class="container">
          <p class="fs-3 fw-bold text-muted">
            {% if external %} Du kannst hier weitere Informationen zu diesem
            Projekt finden:
            <a
              href="{{ external }}"
              class="text-break"
              target="_blank"
              rel="noopener noreferrer"
            >
              {{ external }}
            </a>
            {% else %} Für dieses Projekt sind leider keine weiteren
            Informationen verfügbar. {% endif %}
          </p>
        </div>
      </section>
      {% else %} {% if details or trailer %}
      <section class="page-section" id="details">
        <div class="container">
          <h2 class="text-uppercase text-center section-heading">Übersicht</h2>
          <div class="row">
            {% if details %}
            <div class="col-lg-6">
              <table class="table">
                <thead class="table-dark">
                  <th>technische Details</th>
                  <th></th>
                </thead>
                <tbody>
                  {% for detail in details %}
                  <td>{{ detail.type }}</td>
                  <td>{{ detail.value }}</td>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            {% endif %}{% if trailer.text or trailer.url %}
            <div class="col-lg-6">
              {%if trailer.url%}
              <div class="video-container-wrapper">
                <div class="video-container">
                  <iframe
                    width="560"
                    height="315"
                    src="{{ trailer.url }}"
                    frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media;
            gyroscope; picture-in-picture"
                    allowfullscreen=""
                  ></iframe>
                </div>
              </div>
              {%endif %} {% if trailer.text %}
              <div>
                <p>{{ trailer.text }}</p>
              </div>
              {% endif %}
            </div>
            {% endif %}
          </div>
        </div>
      </section>
      {% endif %} {% if timeline %}
      <section class="page-section" id="timeline">
        <div class="container">
          <h2 class="text-uppercase text-center section-heading">Timeline</h2>
          <div class="row shadow">
            {% for timelineElem in timeline %}{% include
            components/timelineElement with timelineElem %}{% endfor %}
          </div>
        </div>
      </section>
      {% endif %}
      <section class="page-section bg-light" id="projects">
        <div class="container">
          {{ content }}
        </div>
      </section>
      {%if finishedFilm %}
      <section class="page-section" id="finishedFilm">
        <div class="container">
          <h2 class="text-uppercase text-center section-heading">
            Der fertige Film:
          </h2>
          <div class="video-container-wrapper">
            <div class="video-container">
              <iframe
                width="560"
                height="315"
                src="{{ finishedFilm }}"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media;
            gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </div>
      </section>
      {%endif %} {% endif %}{% if contact %} {% include components/contact ,
      heading: "Bei neuen Projekten dabei sein?" subheading: "Schreib uns!" %}
      {% endif %}
    </main>
    {% include components/footer %}

    <script src="/assets/js/bootstrap.min.js"></script>
  </body>

