{% if url %}
    <header class="masthead" style="background-image: url({{ url }})">
        <div class="container">
            <div class="masthead-heading text-uppercase">{{ title }}</div>
            {% if subtitle %}
                <div class="masthead-subheading">{{ subtitle }}</div>
            {% endif %}
        </div>
    </header>
{% else %}
    <header class="masthead" style="background-image: url('/assets/img/index/header-bg.jpg')">
        <div class="container">
            <div class="masthead-heading text-uppercase">{{ title }}</div>
            {% if subtitle %}
                <div class="masthead-subheading">{{ subtitle }}</div>
            {% endif %}
        </div>
    </header>
{% endif %}
